$into_email_bg: hsl(217, 28%, 15%);
$main_bg: hsl(218, 28%, 13%);
$footer_bg: hsl(216, 53%, 9%);
$testimonials_bg: hsl(219, 30%, 18%);
$error: hsl(0, 100%, 63%);
$grandient: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
$grandient_hover: linear-gradient(
  to right,
  hsl(176, 68%, 64%),
  hsl(176, 68%, 64%)
);
$Cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
